@import 'tailwindcss';

/* Base styles */
:root {
  --primary-text: #dfdfdf;
  --primary-bg: #000000;
  --secondary-bg: #242424aa;
  --accent-color: #cc33cc;
  --font-family: "Gupter", serif;
}

/* Global styles */
:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: var(--primary-text);
  background-image: url('/BGimg.png');
  background-color: var(--primary-bg);
  background-position: top;
  background-repeat: repeat-y;
}

/* Font optimizations */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout */
body {
  margin: 0 auto;
  display: flex;
  max-width: 900px;
  background: rgba(0, 0, 0, 0.5);
}

a {
    color: #cc33cc;
}

a.external::after {
    content: ' \2197';
    font-size: 1em;
    color: #cc33cc;
}

/* Typography classes */
.gupter {
  &-regular {
    font-family: var(--font-family);
    font-weight: 400;
  }

  &-medium {
    font-family: var(--font-family);
    font-weight: 500;
  }

  &-bold {
    font-family: var(--font-family);
    font-weight: 700;
  }
}

/* Links */
.link {
  color: var(--accent-color);
  text-decoration: none;

  &::after {
    content: '\2197';
    font-size: 1em;
    color: var(--accent-color);
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 1.2em;
  }

  body {
    max-width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  a {
    word-wrap: break-word;
  }

  img {
    max-width: 90%;
  }
}