/* This file contains the styles for the PDFViewer component, but react-pdf seems to have its own styles. Utilizing those until a need arises */

.viewerContainer {
    margin: 20px;
    border-radius: 8px;
    background: #242424;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 10px 5px #111;
    overflow: hidden;
}

@media (max-width: 800px) {
    .viewerContainer {
        margin: 10px;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .viewerContainer {
        margin: 10px;
        padding: 10px;
    }
}