/* Container for the viewer */
.viewerContainer {
    margin: 20px;
    border-radius: 8px;
    background: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Controls for navigation */
.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.pageInfo {
    margin: 0;
    color: #fff;
}

/* Button styles */
.button {
    background: #cc33cc;
    color: #fff;
    border: none;
    margin: 15px;
    padding: 5px 10px; /* Reduced padding to make buttons smaller */
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
}

.button:hover:not(:disabled) {
    background: #b32bb3;
    transform: translateY(-2px);
}

.button:disabled {
    background-color: #550055;
    cursor: not-allowed;
    box-shadow: none;
    transform: none; /* Disable translateY effect */
}

/* Responsive Adjustments */
@media (max-width: 800px) {
    .viewerContainer {
        margin: 10px;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .viewerContainer {
        margin: 10px;
        padding: 10px;
    }
}