.image {
    width: 40%;
    height: auto;
    border-radius: 18px;
    margin: 15px 25px 25px 25px;
    box-shadow: 10px 10px 10px 5px #111;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.floatNone {
    float: none;
}

@media (max-width: 800px) {
    .image {
        width: 80%;
        float: none;
    }
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

.hidden {
  display: none;
}