.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.spinner {
  width: 69px;
  height: 69px;
  border: 10px solid #444444;
  border-top: 10px solid #22dd22;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: relative;
  z-index: 50;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}