.header {
    background-image: url('/logo.png');
    background-color: #242424;
    background-position: left;
    background-position-x: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.titleLink {
    text-decoration: none;
    color: inherit;
}

.titleLink::after {
    content: '';
}

.title {
    margin: 0;
    padding-left: 72px;
    font-size: 2em;
    line-height: 1;
    text-shadow: 4px 4px 8px #000;
    text-align: center;
}

@media (max-width: 800px) {
    .header {
        background-image: url('/logo.png');
        background-color: #242424;
        background-position: left;
        background-position-x: 15px;
        background-repeat: no-repeat;
        background-size: 3rem;
        padding: 20px;
    }

    .title {
        padding-left: 44px;
    }
}